<%# if @user.errors.any? %>
  <!-- <ol> -->
    <%# @user.errors.full_messages.each do |msg| %>
      <!-- <li> -->
        <%#= msg %>
      <!-- </li> -->
    <%# end %>
  <!-- </ol> -->
<%# end %>

<%= flash[:error] if flash[:error].present? %>
  <%= form_for @user do |f| %>
  <div class="row">
    <div class="form-group">
      <div class="col-md-3 col-md-offset-1">
        <%= f.label :name, "Name", :title => 'Enter your name.' %>
        <%= f.text_field :name, :autofocus => true, :required => true, :title => 'Enter your name.', :class => 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-3 col-md-offset-1">
        <%= f.label :email, :title => 'Enter your email address' %>
        <%= f.email_field :email, :required => true, :title => 'Enter your email address', :class => 'form-control'  %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group">
      <div class="col-md-3 col-md-offset-1">
        <%= f.label :password, :title => 'Enter a password' %>
        <%= f.password_field :password, :title => 'Enter a password', :class => 'form-control', :required => true %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-3 col-md-offset-1">
        <%= f.label :password_confirmation, :title => 'Re-enter your password.' %>
        <%= f.password_field :password_confirmation, :title => 'Re-enter your password.', :class => 'form-control', :required => true %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="text-right">
      <div class="col-md-1 col-md-offset-1">
        <%= button_tag 'Create account', :class => 'btn btn-primary' %>
      </div>
    </div>
  </div>
<% end %>
