<!DOCTYPE html>
<html>
<head>
  <title>Qatch</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
  <!-- BOOTSTRAP -->
  <!-- <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet"> -->
  <!-- FAVICON -->
  <!-- <link rel="shortcut icon" href="http://faviconist.com/icons/f700c2d98656e7301e77f1391190bc23/favicon.ico" type="image/x-icon" /> -->
  
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div id="container">

  <header class="cf">
    <a href="#" id="navicon" class="closed">Qatch &#9776;</a>
  </header>
    
  <nav id="main-nav">
    <% if @current_user.present? %>
      <a href="/" data-user-id='<%= @current_user.id %>'><div>Home</div></a>
      <a href="/profiles" data-user-id='<%= @current_user.id %>'><div>Browse Profiles</div></a>
      <a href="/users/<%= @current_user.id %>" data-user-id='<%= @current_user.id %>'><div>Settings</div></a>
      <a href="/matches" data-user-id='<%= @current_user.id %>'><div>My Matches</div></a>
      <a href="/" data-user-id='<%= @current_user.id %>'><div>Logout</div></a>
    <% else %>
      <a href="/login" data-user-id=''><div>Login</div></a>
      <a href="/users/new" data-user-id=''><div>Sign Up</div></a>
    <% end %>
  </nav>

  <%= yield %>

</div>
</body>
</html>
